<p id="notice"><%= notice %></p>

<p>
  <strong>Utility:</strong>
  <%= @utility_item.utility %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @utility_item.nome %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @utility_item.marca %>
</p>

<p>
  <strong>Matricola:</strong>
  <%= @utility_item.matricola %>
</p>

<p>
  <strong>Potenza:</strong>
  <%= @utility_item.potenza %>
</p>

<p>
  <strong>Ore:</strong>
  <%= @utility_item.ore %>
</p>

<p>
  <strong>Vettore:</strong>
  <%= @utility_item.vettore %>
</p>

<p>
  <strong>Funzione:</strong>
  <%= @utility_item.funzione %>
</p>

<p>
  <strong>Ausiliari:</strong>
  <%= @utility_item.ausiliari %>
</p>

<%= link_to 'Edit', edit_utility_item_path(@utility_item) %> |
<%= link_to 'Back', utility_items_path %>
