		  <h3>Dati Richiedente Preventivo</h3>
      
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :name %><br>
            <%= cus.text_field :name, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :lastname %><br>
            <%= cus.text_field :lastname, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= cus.label :company %><br>
            <%= cus.text_field :company, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :address %><br>
            <%= cus.text_field :address, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :cap %><br>
            <%= cus.text_field :cap, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :city %><br>
            <%= cus.text_field :city, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :phone %><br>
            <%= cus.text_field :phone, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :fax %><br>
            <%= cus.text_field :fax, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :email %><br>
            <%= cus.text_field :email, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :web %><br>
            <%= cus.text_field :web, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :vat %><br>
            <%= cus.text_field :vat, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= cus.label :codfisc %><br>
            <%= cus.text_field :codfisc, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= cus.label :note %><br>
            <%= cus.text_area :note, class: 'form-control' %>
          </div>