<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h3 class="page-title">Materie prime, prodotti finiti e ore di marcia – S.3</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Azienda:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raw_materials.each do |raw_material| %>
      <tr>
        <td><%= raw_material.company.denominazione %></td>
        <td><%= link_to 'Show', raw_material %></td>
        <td><%= link_to 'Edit', edit_raw_material_path(raw_material) %></td>
        <td><%= link_to 'Destroy', raw_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Scheda Materie prime, prodotti finiti e ore di marcia – S.3', new_raw_material_path, class: 'btn btn-energ btn-sm table-btn' %>


</div>
