<div class="container">
  <div class="row">

    <div class="col col-xs-12 col-sm-4"></div>

    <div class="col col-xs-12 col-sm-4">

      <h3 class="page-title"><i class="fa fa-user-circle" aria-hidden="true"></i> Registrazione Utenti</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.check_box :superadmin %> <%= f.label :superadmin %><br>
          <%= f.check_box :admin %> <%= f.label :admin %><br>
          <%= f.check_box :agent %> <%= f.label :agent %><br>
          <%= f.check_box :consultant %> <%= f.label :consultant %><br>
          <%= f.check_box :insider %> <%= f.label :insider %><br>
        </div>

        <div class="actions text-center">
          <%= f.submit "Sign up", class: 'btn btn-energ btn-lg' %>
        </div>
      <% end %>

      <%= render "admins/shared/links" %>
</div>

<div class="col col-xs-12 col-sm-4"></div>


  </div><!-- /row -->
</div><!-- /container -->
