<p id="notice"><%= notice %></p>

<h1>Transformer Items</h1>

<table>
  <thead>
    <tr>
      <th>Transformer</th>
      <th>Trasformatore</th>
      <th>Marca</th>
      <th>Modello</th>
      <th>Tensione</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transformer_items.each do |transformer_item| %>
      <tr>
        <td><%= transformer_item.transformer %></td>
        <td><%= transformer_item.trasformatore %></td>
        <td><%= transformer_item.marca %></td>
        <td><%= transformer_item.modello %></td>
        <td><%= transformer_item.tensione %></td>
        <td><%= transformer_item.note %></td>
        <td><%= link_to 'Show', transformer_item %></td>
        <td><%= link_to 'Edit', edit_transformer_item_path(transformer_item) %></td>
        <td><%= link_to 'Destroy', transformer_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transformer Item', new_transformer_item_path %>
