<p id="notice"><%= notice %></p>

<div class="container">

  <h3 class="page-title">Produzione energia termica – S.6<br></h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Company</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thermal_productions.each do |thermal_production| %>
      <tr>
        <td><%= thermal_production.company.denominazione %></td>
        <td><%= thermal_production.note %></td>
        <td><%= link_to 'Show', thermal_production %></td>
        <td><%= link_to 'Edit', edit_thermal_production_path(thermal_production) %></td>
        <td><%= link_to 'Destroy', thermal_production, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crea Scheda Produzione energia termica – S.6', new_thermal_production_path, class: 'btn btn-energ btn-sm table-btn' %>

</div>
