<%= form_with(model: utility, local: true) do |form| %>
  <% if utility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utility.errors.count, "error") %> prohibited this utility from being saved:</h2>

      <ul>
      <% utility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col col-xs-12 col-sm-12">
    <%= form.label :company_id, 'Azienda' %>
    <% if params[:company].present? %>
    <%= form.collection_select :company_id, Company.where('id=?', params[:company]), :id, :denominazione, class: 'form-control', required: true %>
    <% else %>
    <%= form.collection_select :company_id, Company.all, :id, :denominazione, {include_blank: true}, class: 'form-control', required: true %>
    <% end %>
  </div>


  <!-- Items raw material items -->
  <div class="col s12" id="raw_material_items">
    <h4 class="light">ELENCO MACCHINARI</h4>
      <%= form.fields_for (:utility_items) do |item| %>
        <%= render 'utility_item_fields', f: item %>
      <% end %>
      <div class="col s12">
      <%= link_to_add_association 'AGGIUNGI RIGA', form, :utility_items, { class:'btn btn-aggiungi' } %>
      </div>
  </div>
  <!-- fine -->

  <div class="col col-xs-12 col-sm-12">
    <%= form.label :note %>
    <%= form.text_area :note, id: :utility_note, class: 'form-control' %>
  </div>

  <div class="col col-xs-12 col-sm-12">
    <%= form.submit %>
  </div>
<% end %>
