<p id="notice"><%= notice %></p>

<h1>Listing Custumers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Company</th>
      <th>Address</th>
      <th>Cap</th>
      <th>City</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Web</th>
      <th>Vat</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custumers.each do |custumer| %>
      <tr>
        <td><%= custumer.name %></td>
        <td><%= custumer.lastname %></td>
        <td><%= custumer.company %></td>
        <td><%= custumer.address %></td>
        <td><%= custumer.cap %></td>
        <td><%= custumer.city %></td>
        <td><%= custumer.phone %></td>
        <td><%= custumer.fax %></td>
        <td><%= custumer.email %></td>
        <td><%= custumer.web %></td>
        <td><%= custumer.vat %></td>
        <td><%= custumer.note %></td>
        <td><%= link_to 'Show', custumer %></td>
        <td><%= link_to 'Edit', edit_custumer_path(custumer) %></td>
        <td><%= link_to 'Destroy', custumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custumer', new_custumer_path %>
