<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custumer.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @custumer.lastname %>
</p>

<p>
  <strong>Company:</strong>
  <%= @custumer.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @custumer.address %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @custumer.cap %>
</p>

<p>
  <strong>City:</strong>
  <%= @custumer.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @custumer.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @custumer.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custumer.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @custumer.web %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @custumer.vat %>
</p>

<p>
  <strong>Note:</strong>
  <%= @custumer.note %>
</p>

<%= link_to 'Edit', edit_custumer_path(@custumer) %> |
<%= link_to 'Back', custumers_path %>
