<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @thermal_energy_production.company %>
</p>

<p>
  <strong>Note:</strong>
  <%= @thermal_energy_production.note %>
</p>

<%= link_to 'Edit', edit_thermal_energy_production_path(@thermal_energy_production) %> |
<%= link_to 'Back', thermal_energy_productions_path %>
