<p id="notice"><%= notice %></p>

<h1>Thermal Energy Production Items</h1>

<table>
  <thead>
    <tr>
      <th>Thermal energy production</th>
      <th>Caldo freddo</th>
      <th>Utenza</th>
      <th>Nome generatore</th>
      <th>Matricola</th>
      <th>Potenza</th>
      <th>Dest acs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thermal_energy_production_items.each do |thermal_energy_production_item| %>
      <tr>
        <td><%= thermal_energy_production_item.thermal_energy_production %></td>
        <td><%= thermal_energy_production_item.caldo_freddo %></td>
        <td><%= thermal_energy_production_item.utenza %></td>
        <td><%= thermal_energy_production_item.nome_generatore %></td>
        <td><%= thermal_energy_production_item.matricola %></td>
        <td><%= thermal_energy_production_item.potenza %></td>
        <td><%= thermal_energy_production_item.dest_acs %></td>
        <td><%= link_to 'Show', thermal_energy_production_item %></td>
        <td><%= link_to 'Edit', edit_thermal_energy_production_item_path(thermal_energy_production_item) %></td>
        <td><%= link_to 'Destroy', thermal_energy_production_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thermal Energy Production Item', new_thermal_energy_production_item_path %>
