<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @delivery.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @delivery.price %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
