<div class="col col-sm-12 cocoonx">

	<div class="col s10">
    <div class="row">
      <div class="col col-xs-12 col-sm-6">
        <%= f.label :marca %>
        <%= f.text_field :marca, id: :compressor_item_marca, class: 'form-control' %>
      </div>

      <div class="col col-xs-12 col-sm-6">
        <%= f.label :modello %>
        <%= f.text_field :modello, id: :compressor_item_modello, class: 'form-control' %>
      </div>

      <div class="col col-xs-12 col-sm-6">
        <%= f.label :potenza %>
        <%= f.text_field :potenza, id: :compressor_item_potenza, class: 'form-control' %>
      </div>

      <div class="col col-xs-12 col-sm-6">
        <%= f.label :anno %>
        <%= f.text_field :anno, id: :compressor_item_anno, class: 'form-control' %>
      </div>

      <div class="col col-xs-12 col-sm-12">
        <%= f.label :note %>
        <%= f.text_area :note, id: :compressor_item_note, class: 'form-control' %>
      </div>
    </div><!-- /row -->
	</div>

	<div class="col xol-xs-12 col-sm-12">
	<%=link_to_remove_association("RIMUOVI RIGA", f, { wrapper_class: 'cocoonx', class: 'btn btn-rimuovi'}) %>
	</div>

</div>
